<a routerLink="entrenamiento">Entrenamiento</a>


<h1>{{ hora | async }}</h1>

<h1>Lunes:</h1> <p>piernas, biceps y triceps </p>
<p>rutina: peso muerto, banco scott, martillo, </p>
<button>agregar</button>
<img *ngFor="let img of imagenes" class="img" src="{{ img }}" alt="img">
<button (click)="agregar()">agregar</button>
<p>martes: biceps y triceps</p>    
<p>rutina:</p>
<p>miercoles: piernas</p>
<p>rutina:</p>
<p>jueves: pecho y esplada</p>
<p>rutina:</p>
<p>viernes: pierna</p>
<p>rutina:</p>
<p>sabado: - </p>
<p>domingo: - </p>

<!-- <p>

    

* MIERCOLES 19:
	[15,16,17,18,19]
_	dia 13 =	Maquina pantorrilla,Camilla acostado, Prensa pecho y hombro
1_	dia 12 = pierna-trapecio-espalda
__

* Recuperacion hoy 14 de febrero:

2
</p>
 -->